@charset "UTF-8";

header {
    background-color: #ffcccc;
    width: 1000px;
}
#main {
    background-color: #ccffcc;
    width: 700px;
}
#menu {
    background-color: #ccccff;
    width: 300px;
}
#wrapper{
    margin: 0 auto;
    display: flex;
    justify-content: space-start;
}
footer {
    background-color: #ffccff;
    width: 1000px;
}